@* @using Portal.Models;
@model DuringWhichMonth *@

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<div class="govuk-form-group">
    <a href="#" class="govuk-back-link">Back</a>
    <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">
                Green LTD - 23 Ruby St, London SE15 1LR
            </span>
            <h1 class="govuk-fieldset__heading">
                During which month was the waste recieved on?
            </h1>
        </legend>
        <div id="signIn-hint" class="govuk-hint">
            Select the month that the waste was received on
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="october" name="october" type="radio" value="october" aria-describedby="october">
                <label class="govuk-label govuk-radios__label" for="october">
                    October
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="november" name="november" type="radio" value="november" aria-describedby="november">
                <label class="govuk-label govuk-radios__label" for="november">
                    November
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="december" name="december" type="radio" value="december" aria-describedby="december">
                <label class="govuk-label govuk-radios__label" for="december">
                    December
                </label>
            </div>
        </div>
    </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
    Continue
</button>

@* <heading asp-for="Answer" asp-title="During which month was the waste received?"></heading>

<radios asp-for="answer" asp-title="During which month was the waste received?"></radios> *@