@using PRN.Web.Resources;
@{
    ViewData["Title"] = HomeResources.HomePage;
}

<div class="text-center">
    <h1 class="govuk-heading-xl">@HomeResources.WelcomeTitle</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
