@using static EPRN.Common.Constants.Strings
@model CancelViewModel

@{
    var prnCancelledMessaged = string.Format(CancelledResources.Cancelled, Model.Reference);
    ViewData["Title"] = prnCancelledMessaged;
}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            @MasterResources.SuccessMessage
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            @prnCancelledMessaged
        </h3>
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.Producer))
{
    <h3 class="govuk-notification-banner__heading">
        @CancelledResources.WhatHappensNextMessage
    </h3>
    <p class="govuk-body">
        @(string.Format(CancelledResources.PRNEmailedProducerMessage, Model.Producer))
    </p>
}
<a class="govuk-button" asp-action=@Routes.Actions.PRNS.ViewSentPrns asp-controller=@Routes.Controllers.PRNS asp-area="">
    @CancelledResources.ViewSentPRNs
</a>