<a href="/" class="govuk-back-link">@MasterResources.Back</a>
@model ExportTonnageViewModel

<partial name="_ValidationSummary" />
<form>
    <input type="hidden" value="@Model.JourneyId"/>
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
                @ExportTonnageResources.PageTitle
            </label>
        </h1>
        <p class="govuk-error-message">
            <span asp-validation-for="ExportTonnes"></span>
        </p>
        <input class="govuk-input" type="text" asp-for="ExportTonnes" />
    </div>
    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>