@model WasteTypesViewModel

<form method="post">
    <input type="hidden" asp-for="JourneyId" />
    <span>** UNABLE TO POPULATE AT THE MOMENT **</span>
    <radios asp-for="SelectedWasteTypeId" asp-data-for="WasteTypes" asp-title="@WasteTypesResources.MaterialTypeOptionsTitle"></radios>
    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
    <span asp-validation-for="SelectedWasteTypeId"></span>
</form>