@model CategorySectionViewModel
@{
    ViewData["Category"] = Model.Category;
}
<div>
    <h2>@Model.Category.ToString()</h2>
    <label>Choose an accreditation to record waste against.</label>
    @foreach (var siteViewModel in Model.Sites)
    {
        <partial name="_RecordWasteSiteSection" model="siteViewModel" view-data="ViewData" />
    }
</div>