@model CategorySectionViewModel
@{
    ViewData["Category"] = Model.Category;
}
<div>
    @switch (Model.Category)
    {
        case EPRN.Common.Enums.Category.Reprocessor:
            <h1 class="govuk-heading-l">@RecordWasteResources.ReprocessingLabel</h1>;
            break;

        case EPRN.Common.Enums.Category.Exporter:
            <h1 class="govuk-heading-l">@RecordWasteResources.ExportingLabel</h1>;
            break;

        default:
            <h1 class="govuk-heading-l">@RecordWasteResources.UnknownLabel</h1>;
            break;
    }

    @foreach (var siteViewModel in Model.Sites)
    {
        <partial name="_RecordWasteSiteSection" model="siteViewModel" view-data="ViewData" />
    }
</div>