@model ExportTonnageViewModel

@{
    ViewData["Title"] = @ExportTonnageResources.PageTitle;

    var tonnageQuestion = ExportTonnageResources.HowMuchTonnageExportQuestion;

    if (Model.Category == EPRN.Common.Enums.Category.Reprocessor)
    {
        tonnageQuestion = ExportTonnageResources.HowMuchTonnageReceiveQuestion;
    }
}

<partial name="_ValidationSummary" />
<partial name="_WasteTypeName" />
<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="event-name">
                            @tonnageQuestion
                        </label>
                    </h1>
                    <p class="govuk-error-message">
                        <span asp-validation-for="ExportTonnes"></span>
                    </p>

                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10 3dp" type="text" asp-for="ExportTonnes" />
                        <div class="govuk-input__suffix" aria-hidden="true">@ExportTonnageResources.TonnesLabel</div>
                    </div>

                </div>
            </fieldset>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                @MasterResources.ContinueBtn
            </button>
        </div>
    </div>
</form>