<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__title">
            <div class="govuk-heading-m">@ViewData["card_title"]</div>
            <p class="govuk-caption-m">
                @ViewData["card_description"]
            </p>
        </div>
    </div>
    <div class="govuk-summary-card__content">
        @if (ViewData["card_links"] != null)
        {
            Dictionary<string, string> links = (Dictionary<string, string>)(ViewData["card_links"]);
            if (links != null)
            {
                <ul class="govuk-list">
                    @foreach (var link in links)
                    {
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="@link.Value">@link.Key</a>
                        </li>
                    }
                </ul>
            }
        }
    </div>
</div>

