@model NotificationViewModel

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            @Model.Title
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            @Model.PrimaryMessage
        </p>
        <p>
            <a class="govuk-notification-banner__link" href="@Model.LinkUrl"> @Model.SecondaryMessage</a>.
        </p>
    </div>
</div>