@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__title">
            <p class="govuk-body">
                <a href="#" class="govuk-link govuk-!-font-weight-bold">@ViewData["card_title"]</a>
            </p>
            <p class="govuk-body-s">
                @ViewData["card_description"]
            </p>
        </div>
    </div>
    <div class="govuk-summary-card__content">
        <ul class="govuk-list">
            @foreach(var link in ViewData["card_links"] as List<string>)
            {
                <li>
                    <a class="govuk-link" href="#">@link</a>
                </li>
            }
        </ul>
    </div>
</div>

