@model Portal.Models.ReProcessorSummaryViewModel
@using Portal.Resources;

@{
    ViewData["Title"] = HomeResources.HomePage;
}

<div>
    <a asp-action="Index">@HomeResources.HomeLink</a>
</div>
<br />

<div class="text-center">
    <span class="govuk-caption-m">@Model.ContactName</span>
    <span class="govuk-body govuk-!-font-weight-bold">@Model.Name</span>
    <span class="govuk-caption-m">@Model.AccountNumber</span>
</div>
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <div class="govuk-summary-card__title">
                    <p class="govuk-body">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Account</a>
                    </p>
                    <p class="govuk-body-s">
                        Create new users and manage your account
                    </p>
                </div>
            </div>
            <div class="govuk-summary-card__content">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Create a new user</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Manage a user</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">You account details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <div class="govuk-summary-card__title">
                    <p class="govuk-body">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Accredidation</a>
                    </p>
                    <p class="govuk-body-s">
                        Apply for accredidation, check your status and more
                    </p>
                </div>
            </div>
            <div class="govuk-summary-card__content">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">My accredidation</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Apply for accredidation</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">View all applications</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <div class="govuk-summary-card__title">
                    <p class="govuk-body">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Waste Management</a>
                    </p>
                    <p class="govuk-body-s">
                        Record your waste, manage your PRNs and submit your returns
                    </p>
                </div>
            </div>
            <div class="govuk-summary-card__content">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Record waste</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Manage a PRN</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Submit a return</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">View and edit records</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




