@import "node_modules/govuk-frontend/govuk/components/footer";

label.units-container {
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    background-color: $govuk-canvas-background-colour;
    font-size: 1.25rem;

    input {
        width: 75% !important;
        border-width: 0px 1px 0px 0;
        margin-right: 8px;
    }
} 