.display-right {
    float: right;
}

.govuk-table__cell {
    &__right {
        text-align: right !important;
    }
}

.govuk-accordion__section-heading.no-top-border {
    .govuk-accordion__section-button {
        border-top: 0;
    }
}